<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HFC</title>
</head>
<body>
<h2>Text Recognition</h2>
<form method="post" action="upload/" enctype="multipart/form-data">
    {% csrf_token %}
    <label>Loan Number:</label>
    <input type="text" name="loan_number">
    <br/>
    <br/>
    <label>Document Type:</label>
    <select name="document_type">
        <option>PAN Card</option>
        <option>Aadhar Card</option>
        <option>Passport</option>
    </select>
    <br/>
    <br/>
    <label>Document:</label>
    <input type="file" name="document" accept="image/gif, image/jpeg, image/png">
    <button type="submit">Upload file</button>
</form>
</body>
</html>